{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
  <div class="container-fluid p-0 m-0">
    <div class="hero-fit">
      <img src="{% static "css/img/error/train_404.jpg" %}" class="img-hero-cover-fit"/>
      <div class="centered page-title" style="background-color: rgba(33, 37, 41, 0.47);">500 Internal server error</div>
    </div>
  </div>
{% endblock %}

<h1>500 Internal server error</h1>

        <h2>Sorry, there seems to be an error. Please try again soon.</h2>
