{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
  <div class="hero-fit">
    <img src="{% static "css/img/performance-2019-after-norwich-madlove.jpg" %}" class="img-hero-cover-fit"/>
    <div class="centered page-title">Contact Us</div>
  </div>

  <div class="container-fluid">
    <div class="row m-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0">
        <h1>Submitted</h1>
        {{ page.thank_you_text|richtext }}
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="map-responsive">
          <iframe id="gmap_canvas"
                  src="https://maps.google.com/maps?q=wolfson%20college%20cambridge&t=&z=15&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <a href="https://www.pureblack.de/google-maps/"></a></div>
      </div>

    </div>
    <div class="row mx-5">
      <a class="btn btn-secondary" href="{{ page.get_parent.url }}">Return to Home Page</a>
    </div>

  </div>


{% endblock %}
