{% extends "base.html" %}

{% load static wagtailcore_tags crispy_forms_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
{#  <div class="contact-hero">#}
{#    <h1 class="page-title">Contact Us</h1>#}
{#  </div>#}

  <div class="hero-fit">
    <img src="{% static "css/img/performance-2019-after-norwich-madlove.jpg" %}" class="img-hero-cover-fit"/>
    <div class="centered page-title">Contact Us</div>
  </div>

  <div class="container-fluid ">
    <div class="m-5">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <h1>{{ page.title }}</h1>
          {{ page.intro|richtext }}

{#          <div>#}
{#            <!-- Begin Mailchimp Signup Form -->#}
{#            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">#}
{#            <style type="text/css">#}
{#              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }#}
{#              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.#}
{#                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */#}
{#            </style>#}
{#            <div id="mc_embed_signup">#}
{#              <form action="https://outlook.us3.list-manage.com/subscribe/post?u=fa141812ecc7a6d285ebff614&amp;id=a438ea549a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>#}
{#                <div id="mc_embed_signup_scroll">#}
{#                  <label for="mce-EMAIL">Subscribe</label>#}
{#                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>#}
{#                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
{#                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa141812ecc7a6d285ebff614_a438ea549a" tabindex="-1" value=""></div>#}
{#                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>#}
{#                </div>#}
{#              </form>#}
{#            </div>#}
{##}
{#            <!--End mc_embed_signup-->#}
{#            #}
{#          </div>#}

          <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br/>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="map-responsive">
            <iframe id="gmap_canvas"
                    src="https://maps.google.com/maps?q=wolfson%20college%20cambridge&t=&z=15&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.pureblack.de/google-maps/"></a></div>
        </div>

      </div>
      <div class="row">
        <a href="{{ page.get_parent.url }}">Return to Home Page</a>
      </div>
    </div>

  </div>


{% endblock %}