{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
{#  <div class="members-hero">#}
{#    <h1 class="page-title">Our Team</h1>#}
{#  </div>#}

  <div class="hero-fit">
    <img src="{% static "css/img/our-team.jpg" %}" class="img-hero-cover-fit"/>
    <div class="centered page-title">Our Team</div>
  </div>

{#  <h2 class="text-center">{{ page.title }}</h2>#}
{#  <div class="text-center">{{ page.intro|richtext }}</div>#}
{#  <hr>#}

{#  {% for people in peoplepages %}#}
{#    {% with people=people.specific %}#}
{#      <h2><a href="{% pageurl people %}">{{ people.name }}</a></h2>#}
{##}
{#      {% with people.main_image as main_image %}#}
{#        {% if main_image %}{% image main_image fill-160x100 %}{% endif %}#}
{#      {% endwith %}#}
{##}
{#      <p>{{ people.intro }}</p>#}
{#      {{ people.body|richtext }}#}
{#    {% endwith %}#}
{#  {% endfor %}#}

{#  <div class="home-members-container">#}
{#  {% for people in peoplepages %}#}
{#    <div class="home-news-container-item">#}
{#      {% with people=people.specific %}#}
{#        <div class="">#}
{#          <div class="card">#}
{#            <div class="card-header"><a href="{% pageurl people %}">{{ people.title }}</a></div>#}
{#            {% with people.people_images.first as people_image %}#}
{#              {% if people_image %}#}
{#                <a href="{% pageurl people %}">#}
{#                  {% image people_image.image original as tmp_image %}#}
{#                  <div class="img-center-cropped" style="background-image: url('{{ tmp_image.url }}');"></div>#}
{#                </a>#}
{#              {% endif %}#}
{#            {% endwith %}#}
{#            <div class="card-body">{{ people.description|richtext|truncatewords_html:40 }}</div>#}
{#            <div class="card-footer"><a href="{% pageurl people %}">Read more</a></div>#}
{#          </div>#}
{#        </div>#}
{#      {% endwith %}#}
{#    </div>#}
{#  {% endfor %}#}
{#  </div>#}

  <h1 class="my-3 text-center">Our Current Members</h1>

  <div class="gallery-block compact-gallery">
    <div class="row no-gutters">
      {% for people in peoplepages %}
        {% with people=people.specific %}
          {% if not people.past %}
            {% with people.people_images.first as people_image %}
              {% if people_image %}
                {% image people_image.image original as tmp_image %}
                <div class="col-md-6 col-lg-3 col-sm-6 item zoom-on-hover">
                  <a class="lightbox" href="{% pageurl people %}">
                    <img class="img-fluid image center-cropped" src="{{ tmp_image.url }}" style="max-height: 300px">
                    <span class="description">
                            <span class="description-heading">{{ people.title }}</span>
                            <span class="description-body">{{ people.description|richtext|truncatewords_html:40 }}</span>
                  </span>
                  </a>
                </div>
              {% endif %}
            {% endwith %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>

  <h1 class="my-3 text-center">Past Members</h1>

  <div class="gallery-block compact-gallery">
    <div class="row no-gutters">
      {% for people in peoplepages %}
        {% with people=people.specific %}
          {% if people.past %}
            {% with people.people_images.first as people_image %}
              {% if people_image %}
                {% image people_image.image original as tmp_image %}
                <div class="col-md-6 col-lg-3 col-sm-6 item zoom-on-hover">
                  <a class="lightbox" href="{% pageurl people %}">
                    <img class="img-fluid image center-cropped" src="{{ tmp_image.url }}" style="max-height: 300px">
                    <span class="description">
                            <span class="description-heading">{{ people.title }}</span>
                            <span class="description-body">{{ people.description|richtext|truncatewords_html:40 }}</span>
                  </span>
                  </a>
                </div>
              {% endif %}
            {% endwith %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>


{% endblock %}
