{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
{#  <div class="events-hero">#}
{#    <h1 class="page-title">Events - Our Regular Classes/Social</h1>#}
{#  </div>#}

  <div class="container-fluid p-0 m-0">
    <div class="hero-fit">
      <img src="{% static "css/img/events-hero.jpg" %}" class="img-hero-cover-fit"/>
      <div class="centered page-title">Events - Our Regular Classes/Social</div>
    </div>
  </div>
{#  <h2 class="text-center">{{ page.title }}</h2>#}
{#  <div class="text-center">{{ page.intro|richtext }}</div>#}

  <div class="home-section-body">
    {{ page.intro|richtext }}
  </div>

  <div class="container-fluid">
    {% for event in eventpages %}
      {% with event=event.specific %}

        {% if forloop.counter0|divisibleby:2 %}

          <div class="row" style="background-color: #232323b5">
            <div class="col-md-5 p-0">

              <div class="">
                {% with event.main_image as main_image %}
                  <a href="{% pageurl event %}">
                    {% image main_image original as tmp_image %}
                    <div class="img-center-cropped-events" style="background-image: url('{{ tmp_image.url }}');"></div>
                  </a>
                {% endwith %}
              </div>

              <div class="">
                {% include 'event/snippets/lightbox.html' %}
              </div>

            </div>

            <div class="col-md-7">
              <h1>{{ event.name }}</h1>
              <div>Date: {{ event.date_event }}</div>
              <div>Location: {{ event.address }}</div>
              <br />
              <hr>
              <p>{{ event.short_intro|richtext }}</p>
            </div>
          </div>

        {% else %}

          <div class="row" style="background-color: #a2c4c9">
            <div class="col-md-7 mobile-responsive-order-first">
              <h1>{{ event.name }}</h1>
              <div>Date: {{ event.date_event }}</div>
              <div>Location: {{ event.address }}</div>
              <br/>
              <hr>
              <p>{{ event.short_intro|richtext }}</p>
            </div>
            <div class="col-md-5 p-0 ">
              <div class="">
                {% with event.main_image as main_image %}
                  <a href="{% pageurl event %}">
                    {% image main_image original as tmp_image %}
                    <div class="img-center-cropped-events" style="background-image: url('{{ tmp_image.url }}');"></div>
                  </a>
                {% endwith %}
              </div>
              <div class="">
                {% include 'event/snippets/lightbox.html' %}
              </div>
            </div>
          </div>

        {% endif %}
      {% endwith %}
    {% endfor %}
  </div>
{% endblock %}
