{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
  <div class="events-hero">
    <h1 class="">Events - Our Regular Classes/Social</h1>
  </div>

  <h2 class="text-center">{{ page.title }}</h2>
  <div class="text-center">{{ page.intro|richtext }}</div>

  <hr>

  <div class="container-fluid">
    {% for event in eventpages %}
      {% if forloop.counter0|divisibleby:2 %}
        <div class="row" style="background-color: #f8d7da">
          <div class="col-4">
            {% include 'event/snippets/event.html' %}
          </div>
          <div class="col-8">
            Some info here? Description? Quote?
          </div>
        </div>
      {% else %}
        <div class="row" style="background-color: #a4c1f8">
          <div class="col-8">
            Some info here? Description? Quote?
          </div>
          <div class="col-4">
            {% include 'event/snippets/event.html' %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
