{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
  <h1 class="text-center">News index Page - Latest Updates</h1>

  <h2 class="text-center">{{ page.title }}</h2>
  <div class="text-center">{{ page.intro|richtext }}</div>

  <hr>

  {% for news in newspages %}
    {% with news=news.specific %}
      <h2><a href="{% pageurl news %}">{{ news.title }}</a></h2>

      {% with news.main_image as main_image %}
        {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
      {% endwith %}

      <p>{{ news.intro }}</p>
      {{ news.body|richtext }}
    {% endwith %}
  {% endfor %}
{% endblock %}
