$card-background-color: #f7f7f7;

//
// ALL SITES
//

body {
  background: rgb(245,245,245);
  //font-family: Thasadith; //Too light, thin inpersonal. 1/5

  //font-family: 'Open Sans', sans-serif; //average looking. looking very standard
  //font-family: 'Lato', sans-serif; //Standard looking again.

  //font-family: 'Mukta', sans-serif; // looks standard again.
  font-family: 'Cabin', sans-serif;

  //font-family: 'Nunito Sans', sans-serif; //too spaced. looks bit inpersonal. ok for standard font
  //font-family: 'Acme', sans-serif; //very chinese advert looking. too strong in a sterotyped style. 1/5
  //font-family: 'Signika', sans-serif; // quite strong looking font
}

hr {
  margin: 0;
  align-self: stretch;
}

//
// UTILS
//

.img-center-cropped {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// h1-animation is default links for the page.

.h1-animation-wrapper {
  display: flex;
  justify-content: center;
}

.h1-animation {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  transition: all 0.8s;
  //color: darkred;
  //border: 1px solid black;

  //margin: 1rem 0;
}

.h1-animation a {
  color: black;
  text-decoration: none;
}

.h1-animation::after {
  color: rgba(111,111,111,0.8);
  //content: '>';
  //content: '\25B7'; //too odd
  content: '\25B9'; //too odd
  //content: '\27A9'; //too small
  //content: '\27A7'; //filled. no outline
  //content: '\21E8';
  transition: all 0.8s;
}

.h1-animation:hover {
  transform: translateX(5px);
  //color:green;
}

.h1-animation:hover::after {
  transform: translateX(55px);
  color: rgba(12,12,12,1);
}

.row-fix {
  margin-right: 0 !important;
  margin-left: 0 !important;
}


// Overriding bootstrap here.

.card {
  //border: hidden;
  //border: 1px solid #dcf1ff;
  //border-radius: 25px;

  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: solid $card-background-color 5px;
}

.card-body {
  height: 200px;

  //overflow: hidden;
  //word-break: break-word;
  //white-space: pre-wrap;
  //word-wrap: break-word;

  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header {
  background: #d3d9df;
}

.no-wrap {
  //max-height: 50px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  min-width: 0
}

// For page title
.page-title {
  background-color: rgba(193, 193, 193, 0.47);
  //border: 2px solid red;
  border-radius: 10px;
  //color: rgb(37, 37, 37);
  color: whitesmoke;
  padding: 1rem;
  font-size: 70px;
}

//
// NAV //
//

.navbar {
  padding: 0rem 1rem;
}

.nav-logo {
  width: auto;
  height: 50px;
  margin-left: 5px;
  //margin-bottom: 10px;
  //margin-top: 10px;
}

.bg-light {
  background-color: rgb(35,35,35) !important;
}

.nav-link {
  color: #b7bbc2 !important;
}

//
// HOME PAGE //
//

// with older 1 image
//.home-hero {
//  //background-image:url("img/home-hero.png");
//  background-image:url("img/home-hero.jpg");
//  background-repeat:no-repeat;
//  //background-size:55%;
//  background-size:cover;
//  height: 751px;
//
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.home-hero {
  display: flex;
  height: 80vh;
}

.home-hero-dances {
  display: flex;
  //justify-content: center;
  flex: 1;
  width: 100vh;
  flex-direction: column-reverse;
}

.home-hero-dances-item {
  //align-self: flex-end;
  font-size: 50px;
  color: wheat;
  margin-bottom: 50px;
  margin-left: 20px;
}

.line {
  //align-self: flex-end;
  width: 100px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-left: 20px;
}

.home-hero--salsa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home/salsa cover.jpg");

  //background-image: linear-gradient(rgba(178, 29, 40, 0.1), rgba(178, 29, 40, 0.1)), url("img/home-hero-dances-salsa.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;

  //opacity: 0.95;
}

.home-hero--bachata {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home/bachata cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;

  //border: 1px solid #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.home-hero--zouk {
  //background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home-hero-dances-zouk.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home/zouk cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

$zoomscale: 1.01; //1 to disable this part. 1.02 is enough.

.home-hero--salsa:hover {
  background-image: linear-gradient(rgba(178, 29, 40, 0.0), rgba(178, 29, 40, 0.1)), url("img/home/salsa cover.jpg");
  transform: scale($zoomscale);
  //opacity: 1.0;
}

.home-hero--bachata:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("img/home/bachata cover.jpg");
  transform: scale($zoomscale);
}

.home-hero--zouk:hover {
  //background-image: linear-gradient(rgba(178, 29, 40, 0.4), rgba(74, 94, 197, 0.7)), url("img/home-hero-dances-zouk.jpg");
  background-image: linear-gradient(rgba(74, 94, 197, 0.0), rgba(74, 94, 197, 0.3)), url("img/home/zouk cover.jpg");
  transform: scale($zoomscale);
}


//
//.home-hero--salsa {
//  background: red;
//}
//
//.home-hero--bachata {
//  background: forestgreen;
//}
//
//.home-hero--zouk {
//  background: cornflowerblue;
//}

// SECTIONS


.section-line {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 30px;
  width: 70%;
  text-align: center;
  margin: 0 auto
}

.home-section-body {
  //border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  //padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  max-width: 700px;
  margin: 30px auto 15px auto;

  font-size: 30px;

}

.home-section-news {
  background-color: #232323b5;
  //margin-bottom: 15px;
  padding: 35px 0 35px 0;
}

.home-section-events {
  background-color: #a2c4c9;
  padding: 35px 0 35px 0;
}

.home-section-shows {
  background-color: #ffdecc;
  //margin-bottom: 15px;
  padding: 35px 0 35px 0;
}

.home-news-container-new {
  display: flex;
  margin-left: 5px;
}

.home-news-container-new-reversed {
  display: flex;
  //flex-direction: row-reverse;
  justify-content: flex-end;
  margin-right: 15px;
}


.home-news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  //background-color: #0c0c0c;
  //padding: 100px;
}

.home-news-container-item {
  //width: 350px;
}

.home-news-container-item a {
  color: #343a40;
  text-decoration: none;
}

.home-members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.home-news-card-footer {
  background-color: $card-background-color;
  border-radius: 0px !important;
}

.home-news-event-card-header {
  background-color: $card-background-color;
  //border-radius: 0px !important;
  height: 65px;
}

.home-gallery {
  max-width: 100%;
  height: auto;
}

//.home-news-container {
//  display: flex;
//}
//
//.home-news-container-item {
//  flex: 1 1;
//  margin: 0 1rem 0 1rem;
//}


//
// SHOWS PAGE //
//

.show-hero {
  background-image:url("img/show-hero.png");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}

.show-section-body {
  padding-bottom: 30px;
  text-align: center;
  max-width: 700px;
  margin: 30px auto 15px auto;

  font-size: 30px;
}

.show-main-item-menu {
  grid-area: menu;
  //background-color: #9fcdff;
  border-right: 1px solid rgba(0,0,0,0.1);
}
.show-main-item-main {
  grid-area: main;
  //background-color: #e9ffc5;
}
.show-main-item-info {
  grid-area: info;
  //background-color: #ffd2ef;
}

.show-main-item-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //height: 100%;
}

.showspages-container-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.showspages-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  //align-content: center;

  //width: 80%;

}

.showspages-container-item {
  //flex: 0 1 auto;
  //border-style: solid;
  //border-width: 1px;
}

.showspages-container-item a {
  text-decoration: none;
  color: inherit;
}

.show-main-item-info-container-item {
  align-self: flex-end;
}

.show-main-container {
  display: grid;
  grid-template-areas:
    'menu main main main main'
    'menu main main main main'
    'menu main main main main'
    'menu main main main main'
    'menu main main main main'
    'menu info info info info';
  margin-bottom: 15px;
}



//
// CONTACT US PAGE //
//

.contact-hero {
  //background-image:url("img/contact us-home.jpg");
  background-image:url("img/performance-2019-after-norwich-madlove.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}


//
// NEWS PAGE //
//

.news-hero {
  //background-image:url("img/news-hero.jpg");
  background-image:url("img/egla.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  //color: #eaeaea;
}

.news-title-link {
  color: #8fa0b0 !important;
}

// From puput

.about {
  background: var(--main-color) none repeat scroll 0 0;
  margin-bottom: 4em;
}

.about .title-section {
  padding: 30px 0 20px;
}

.about .title-section-image {
  padding: 0;
}

.about .title-section h1 {
  font-weight: 400;
}


.about .title-section-image h1 {
  margin-top: 0;
  font-weight: 400;
  font-size: 30px;
}

.about .title-section h2 {
  color: #ededed;
}

.about .title-header a {
  color: #FFF;
}

.about .title-header a:hover,
.about .title-header a:focus {
  color: #FFF;
  text-decoration: none;
}


//
// MEMBERS PAGE //
//

.members-hero {
  background-image:url("img/members-hero.jpg");
  background-image:url("img/our-team.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}


//
// EVENTS PAGE //
//

.events-hero {
  background-image:url("img/events-hero.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}

.events-body {
  display: flex;
}

.events-left {

}

.events-right {

}


//
// ABOUT US PAGE //
//

.aboutus-hero {
  //background-image:url("img/events-hero.jpg");
  background-image:url("img/about us 2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}

//
//
//
// SHARED COMMON CSS //
//
//
//
//
.contact-hero > h1,
.home-hero > h1,
.news-hero > h1,
.members-hero > h1,
.aboutus-hero > h1,
.show-hero > h1 {
  font-size: 70px;
}