//
// ALL SITES
//

body {
  background: rgb(245,245,245);
  //font-family: Thasadith; //Too light, thin inpersonal. 1/5

  //font-family: 'Open Sans', sans-serif; //average looking. looking very standard
  //font-family: 'Lato', sans-serif; //Standard looking again.

  //font-family: 'Mukta', sans-serif; // looks standard again.
  font-family: 'Cabin', sans-serif;

  //font-family: 'Nunito Sans', sans-serif; //too spaced. looks bit inpersonal. ok for standard font
  //font-family: 'Acme', sans-serif; //very chinese advert looking. too strong in a sterotyped style. 1/5
  //font-family: 'Signika', sans-serif; // quite strong looking font
}

//
// UTILS
//

.img-center-cropped {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1-animation-wrapper {
  display: flex;
  justify-content: center;
}

.h1-animation {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  transition: all 0.8s;
  //color: darkred;
  //border: 1px solid black;

  //margin: 1rem 0;
}

.h1-animation a {
  color: black;
}

.h1-animation::after {
  color: rgba(111,111,111,0.8);
  //content: '>';
  content: '\25B7';
  transition: all 0.8s;
}

.h1-animation:hover {
  transform: translateX(5px);
  color:green;

}

.h1-animation:hover::after {
  transform: translateX(55px);
  color: rgba(12,12,12,1);
}


// Overriding bootstrap here.

.card-body {
  height: 200px;

  //overflow: hidden;
  //word-break: break-word;
  //white-space: pre-wrap;
  //word-wrap: break-word;

  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header {
  background: #d3d9df;
}

//
// NAV //
//

.navbar {
  padding: 0rem 1rem;
}

.nav-logo {
  width: auto;
  height: 50px;
  margin-left: 5px;
  //margin-bottom: 10px;
  //margin-top: 10px;
}

.bg-light {
  background-color: rgb(35,35,35) !important;
}

.nav-link {
  color: #b7bbc2 !important;
}

//
// HOME PAGE //
//

// with older 1 image
//.home-hero {
//  //background-image:url("img/home-hero.png");
//  background-image:url("img/home-hero.jpg");
//  background-repeat:no-repeat;
//  //background-size:55%;
//  background-size:cover;
//  height: 751px;
//
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.home-hero {
  display: flex;
  height: 80vh;
}

.home-hero-dances {
  display: flex;
  //justify-content: center;
  flex: 1;
  width: 100vh;
  flex-direction: column-reverse;
}

.home-hero-dances-item {
  //align-self: flex-end;
  font-size: 50px;
  color: wheat;
  margin-bottom: 50px;
  margin-left: 20px;
}

.line {
  //align-self: flex-end;
  width: 100px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-left: 20px;
}

.home-hero--salsa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home-hero-dances-salsa.jpg");

  //background-image: linear-gradient(rgba(178, 29, 40, 0.1), rgba(178, 29, 40, 0.1)), url("img/home-hero-dances-salsa.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;

  //opacity: 0.95;
}

.home-hero--bachata {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home-hero-dances-bachata.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero--zouk {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home-hero-dances-zouk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero--salsa:hover {
  background-image: linear-gradient(rgba(178, 29, 40, 0.1), rgba(178, 29, 40, 0.1)), url("img/home-hero-dances-salsa.jpg");
  transform: scale(1.05);
  //opacity: 1.0;
}

.home-hero--bachata:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("img/home-hero-dances-bachata.jpg");
  transform: scale(1.05);
}

.home-hero--zouk:hover {
  background-image: linear-gradient(rgba(178, 29, 40, 0.4), rgba(74, 94, 197, 0.7)), url("img/home-hero-dances-zouk.jpg");
  transform: scale(1.05);
}


//
//.home-hero--salsa {
//  background: red;
//}
//
//.home-hero--bachata {
//  background: forestgreen;
//}
//
//.home-hero--zouk {
//  background: cornflowerblue;
//}

// SECTIONS


.section-line {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 30px;
  width: 70%;
  text-align: center;
  margin: 0 auto
}

.home-section-body {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 30px;
  text-align: center;
  max-width: 700px;
  margin: 30px auto 15px auto;

  font-size: 30px;

}

.home-section-news {
  //background-color: #929292;
  margin-bottom: 15px;
  padding: 0 0 15px 0;
}

.home-section-events {
  //background-color: #ffdfe5;
  margin-bottom: 15px;

}


.home-news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.home-news-container-item {

}

.home-news-container-item a {
  color: #343a40;
  text-decoration: none;
}

.home-members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}


//.home-news-container {
//  display: flex;
//}
//
//.home-news-container-item {
//  flex: 1 1;
//  margin: 0 1rem 0 1rem;
//}


//
// SHOWS PAGE //
//

.show-hero {
  background-image:url("img/show-hero.png");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}

.show-main-item-menu {
  grid-area: menu;
  //background-color: #9fcdff;
  border-right: 1px solid rgba(0,0,0,0.1);
}
.show-main-item-main {
  grid-area: main;
  //background-color: #e9ffc5;
}
.show-main-item-info {
  grid-area: info;
  //background-color: #ffd2ef;
}

.show-main-item-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //height: 100%;
}

.showspages-container-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.showspages-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  //align-content: center;

  //width: 80%;
}

.showspages-container-item {
  //flex: 0 1 auto;
  //border-style: solid;
  //border-width: 1px;
}

.show-main-item-info-container-item {
  align-self: flex-end;
}

.show-main-container {
  display: grid;
  grid-template-areas:
    'menu main main main main'
    'menu main main main main'
    'menu main main main main'
    'menu main main main main'
    'menu main main main main'
    'menu info info info info';
  margin-bottom: 15px;
}



//
// CONTACT US PAGE //
//

.contact-hero {
  background-image:url("img/contact us-home.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}


//
// NEWS PAGE //
//

.news-hero {
  background-image:url("img/news-hero.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #eaeaea;
}

.news-title-link {
  color: #8fa0b0 !important;
}


//
// MEMBERS PAGE //
//

.members-hero {
  background-image:url("img/members-hero.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}


//
// EVENTS PAGE //
//

.events-hero {
  background-image:url("img/events-hero.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}

.events-body {
  display: flex;
}

.events-left {

}

.events-right {

}


//
// ABOUT US PAGE //
//

.aboutus-hero {
  background-image:url("img/events-hero.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}

//
//
//
// SHARED COMMON CSS //
//
//
//
//
.contact-hero > h1,
.home-hero > h1,
.news-hero > h1,
.members-hero > h1,
.aboutus-hero > h1,
.show-hero > h1 {
  font-size: 70px;
}