@charset "UTF-8";
body {
  background: whitesmoke;
  font-family: "Cabin", sans-serif;
}

hr {
  margin: 0;
  align-self: stretch;
}

.img-center-cropped {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1-animation-wrapper {
  display: flex;
  justify-content: center;
}

.h1-animation {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  transition: all 0.8s;
}

.h1-animation a {
  color: black;
  text-decoration: none;
}

.h1-animation::after {
  color: rgba(111, 111, 111, 0.8);
  content: "▹";
  transition: all 0.8s;
}

.h1-animation:hover {
  transform: translateX(5px);
}

.h1-animation:hover::after {
  transform: translateX(55px);
  color: #0c0c0c;
}

.card {
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: solid #f7f7f7 5px;
}

.card-body {
  height: 200px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header {
  background: #d3d9df;
}

.no-wrap {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  min-width: 0;
}

.page-title {
  background-color: rgba(193, 193, 193, 0.47);
  border-radius: 10px;
  color: whitesmoke;
  padding: 1rem;
  font-size: 70px;
}

.navbar {
  padding: 0rem 1rem;
}

.nav-logo {
  width: auto;
  height: 50px;
  margin-left: 5px;
}

.bg-light {
  background-color: #232323 !important;
}

.nav-link {
  color: #b7bbc2 !important;
}

.home-hero {
  display: flex;
  height: 80vh;
}

.home-hero-dances {
  display: flex;
  flex: 1;
  width: 100vh;
  flex-direction: column-reverse;
}

.home-hero-dances-item {
  font-size: 50px;
  color: wheat;
  margin-bottom: 50px;
  margin-left: 20px;
}

.line {
  width: 100px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-left: 20px;
}

.home-hero--salsa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home/salsa cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

.home-hero--bachata {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home/bachata cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.home-hero--zouk {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/home/zouk cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

.home-hero--salsa:hover {
  background-image: linear-gradient(rgba(178, 29, 40, 0), rgba(178, 29, 40, 0.1)), url("img/home/salsa cover.jpg");
  transform: scale(1.01);
}

.home-hero--bachata:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("img/home/bachata cover.jpg");
  transform: scale(1.01);
}

.home-hero--zouk:hover {
  background-image: linear-gradient(rgba(74, 94, 197, 0), rgba(74, 94, 197, 0.3)), url("img/home/zouk cover.jpg");
  transform: scale(1.01);
}

.section-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.home-section-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  text-align: center;
  max-width: 700px;
  margin: 30px auto 15px auto;
  font-size: 30px;
}

.home-section-news {
  background-color: #232323b5;
  padding: 35px 0 35px 0;
}

.home-section-events {
  background-color: #a2c4c9;
  padding: 35px 0 35px 0;
}

.home-section-shows {
  background-color: #ffdecc;
  padding: 35px 0 35px 0;
}

.home-news-container-new {
  display: flex;
  margin-left: 5px;
}

.home-news-container-new-reversed {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.home-news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.home-news-container-item a {
  color: #343a40;
  text-decoration: none;
}

.home-members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.home-news-card-footer {
  background-color: #f7f7f7;
  border-radius: 0px !important;
}

.home-news-event-card-header {
  background-color: #f7f7f7;
  height: 65px;
}

.home-gallery {
  max-width: 100%;
  height: auto;
}

.show-hero {
  background-image: url("img/show-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 751px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.show-section-body {
  padding-bottom: 30px;
  text-align: center;
  max-width: 700px;
  margin: 30px auto 15px auto;
  font-size: 30px;
}

.show-main-item-menu {
  grid-area: menu;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.show-main-item-main {
  grid-area: main;
}

.show-main-item-info {
  grid-area: info;
}

.show-main-item-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.showspages-container-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.showspages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showspages-container-item a {
  text-decoration: none;
  color: inherit;
}

.show-main-item-info-container-item {
  align-self: flex-end;
}

.show-main-container {
  display: grid;
  grid-template-areas: "menu main main main main" "menu main main main main" "menu main main main main" "menu main main main main" "menu main main main main" "menu info info info info";
  margin-bottom: 15px;
}

.contact-hero {
  background-image: url("img/performance-2019-after-norwich-madlove.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 751px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.news-hero {
  background-image: url("img/egla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 751px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-title-link {
  color: #8fa0b0 !important;
}

.about {
  background: var(--main-color) none repeat scroll 0 0;
  margin-bottom: 4em;
}

.about .title-section {
  padding: 30px 0 20px;
}

.about .title-section-image {
  padding: 0;
}

.about .title-section h1 {
  font-weight: 400;
}

.about .title-section-image h1 {
  margin-top: 0;
  font-weight: 400;
  font-size: 30px;
}

.about .title-section h2 {
  color: #ededed;
}

.about .title-header a {
  color: #FFF;
}

.about .title-header a:hover,
.about .title-header a:focus {
  color: #FFF;
  text-decoration: none;
}

.members-hero {
  background-image: url("img/members-hero.jpg");
  background-image: url("img/our-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 751px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.events-hero {
  background-image: url("img/events-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 751px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.events-body {
  display: flex;
}

.aboutus-hero {
  background-image: url("img/about us 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 751px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.contact-hero > h1,
.home-hero > h1,
.news-hero > h1,
.members-hero > h1,
.aboutus-hero > h1,
.show-hero > h1 {
  font-size: 70px;
}

/*# sourceMappingURL=bodt.css.map */
