.home-hero {
  background-image:url("img/hero.png");
  background-repeat:no-repeat;
  //background-size:100%;
  background-size:cover;
  height: 751px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-news {
}

.home-news-container {
  display: flex;
}