{% load static %}
{##}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent bg-light">
  <a class="navbar-brand" href="/"><img class="nav-logo" src="{% static 'css/img/common/bodt-tidy-heavy-alphas.png' %}" alt="BODT"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{#  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
{#    <div class="navbar-nav">#}
{#      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>#}
{#      <a class="nav-item nav-link" href="/news">News</a>#}
{#      <a class="nav-item nav-link" href="/member">Member</a>#}
{#      <a class="nav-item nav-link" href="/shows">Shows</a>#}
{#      <a class="nav-item nav-link" href="/events">Events</a>#}
{#      <a class="nav-item nav-link" href="/about-us">About Us</a>#}
{#      <a class="nav-item nav-link" href="/contact">Contact</a>#}
{#    </div>#}
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
{#      <ul class="navbar-nav nav-fill w-100">#}
      <ul class="nav ml-auto navbar-nav " id="navBar">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/member">Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shows">Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
{#  </div>#}
</nav>

<script>
  // Get the container element
  let navContainer = document.getElementById("navBar");

  // Get all buttons with class="btn" inside the container
  let navs = navContainer.getElementsByClassName("nav-item");

  let currentPathSub = window.location.pathname.split('/')[1]

  // Loop through the buttons and add the active class to the current/clicked button
  for (var i = 0; i < navs.length; i++) {
      let li = navs[i]
      let a = li.childNodes[1]
      let aHref = a.href
      let path = aHref.split('/')
      let pathSub = path[3]
      if (currentPathSub === pathSub) {
          console.log(li)
          console.log(li.className)
          li.className = li.className + " nav-active"
      }
  }
</script>
