{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags embed_video_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
  <div class="show-hero">
    <h1 class="text-center">Bachata Obsesión's choreographs</h1>
  </div>

  <div class="container-fluid">
    {#  <h2 class="text-center">{{ page.title }}</h2>#}
    <div class="text-center">{{ page.intro|richtext }}</div>

    <hr>
    <div class="show-main-container">

      <div class="show-main-item-menu">
        <div class="showspages-container-wrapper">
          <div class="showspages-container">
            {% for show in showpages %}
              {% with show=show.specific %}
                <h2><a href="{% pageurl show %}">{{ show.title }}</a></h2>

                {% with show.main_image as main_image %}
                  {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                {% endwith %}

                <p>{{ show.intro }}</p>
{#                {{ show.body|richtext }}#}

              {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="show-main-item-main">
        <h1 class="text-center">
          {{ showpage_first.specific.title }} - {{ showpage_first.specific.date|date:"Y" }}
        </h1>
        {#        {{ showpage_first.specific.intro }}#}
        <div class="text-center">
          {% video showpage_first.specific.video is_secure=True as my_video %}
          {#        {% video my_video "large" %}#}
          {% video my_video '800x600' %}
            secure=>{{ my_video.url }}
          {% endvideo %}
        </div>
      </div>

    <div>
      {{ showpage_first.specific.video.url }}
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" src="{{ showpage_first.specific.video.url }}" width="560" height="315" framebordqer="0"></iframe>
    </div>

      <div class="show-main-item-info">
        <div class="show-main-item-info-container">
          <div class="show-main-item-info-container-item">{{ showpage_first.specific.body|richtext }}</div>
        </div>
      </div>

    <p>testing to see if way embedded works below</p>
{#      <iframe width="560" height="315" src="https://www.youtube.com/embed/AR8D2yqgQ1U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
{##}
{#      <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/AR8D2yqgQ1U" width="560"></iframe>#}
{##}
{#      <iframe width="420" height="315" src="https://www.youtube.com/embed/A6XUVjK9W4o" frameborder="0" allowfullscreen></iframe>#}

{#      <iframe width="560" height="315" src="https://www.youtube.com/embed/CDtO1q3wRjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}

    </div>

  </div>
{% endblock %}


{#<iframe allowfullscreen="" src="http://www.youtube.com/embed/CDtO1q3wRjQ?wmode=opaque" width="800" height="600" frameborder="0"></iframe>#}
{#<iframe allowfullscreen="" src="http://www.youtube.com/embed/CDtO1q3wRjQ?wmode=opaque" width="800" height="600" frameborder="0"></iframe>#}
