{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags embed_video_tags %}

{% block body_class %}
{% endblock %}

{% block content %}
{#  <div class="show-hero">#}
{#    <h1 class="text-center page-title">Bachata Obsesión's choreographs</h1>#}
{#  </div>#}

  <div class="hero-fit">
    <img src="{% static "css/img/show-hero.png" %}" class="img-hero-cover-fit" alt="Show Hero"/>
    <div class="centered page-title">Bachata Obsesión's choreographs</div>
  </div>

  <div class="show-g-header">
    <div class="d-flex flex-row-reverse gallery-block compact-gallery show-main-item-menu-v2 scroller">
      {% for show in showpages %}
        <div class="show-main-item-menu-v2">
          {% with show=show.specific %}
            <a href="{% pageurl show %}">
              <div class="text-center">{{ show.date|date:"Y" }}</div>
              <div class="h1-animation" style="font-size: 15px"><a href="{% pageurl show %}">
                {{ show.title }}
              </a></div>
              {% with show.main_image as main_image %}
                {% image main_image fill-320x200 as tmp_image %}
                <div class="item item-show zoom-on-hover ">{# show-main-item-menu-v2-lightbox#}

                  <a class="lightbox" href="{% pageurl show %}">
                    {% if main_image %}
                      <img class="img-fluid image" src="{{ tmp_image.url }}" alt="Shows">
                    {% endif %}
                  </a>
                </div>
              {% endwith %}
            </a>
          {% endwith %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="show-main-item-main">
      <h1 class="text-center mt-0">
        {{ showpage_first.specific.date|date:"Y" }} - {{ showpage_first.specific.title }}
      </h1>
      <div class="text-center">
        {% video showpage_first.specific.video is_secure=True as my_video %}
          <style>.embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
          }

          .embed-container iframe, .embed-container object, .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }</style>
          <div class='embed-container'>
            <iframe src='{{ my_video.url }}' frameborder='0' allowfullscreen></iframe>
          </div>
        {% endvideo %}
      </div>
    </div>

    <div>
      {{ showpage_first.specific.video.url }}
    </div>

    <div class="show-main-item-info text-center">
      <div class="show-main-item-info-container">
        <div class="show-main-item-info-container-item">{{ showpage_first.specific.body|richtext }}</div>
      </div>
    </div>
  </div>

{#  OLD LAYOUT FOR SHOW LISTS #}
{#  <div class="container-fluid">#}
    {#  <h2 class="text-center">{{ page.title }}</h2>#}
{#    <div class="show-section-body">{{ showindexpage.intro|richtext }}</div>#}
{#    <hr>#}
{#    <div class="show-main-container">#}
{##}
{#      <div class="show-main-item-menu">#}
{#            {% for show in showpages %}#}
{#              <div class="showspages-menu-item">#}
{#                {% with show=show.specific %}#}
{#                  <h2 class="h1-animation title-show-side"><a href="{% pageurl show %}">#}
{#                    {{ show.date|date:"Y" }} - {{ show.title }}#}
{#                  </a></h2>#}
{##}
{#                  {% with show.main_image as main_image %}#}
{#                    {% if main_image %}{% image main_image fill-160x100 %}{% endif %}#}
{#                  {% endwith %}#}
{##}
{#                  <p>{{ show.intro }}</p>#}
                  {#                {{ show.body|richtext }}#}
{##}
{#                {% endwith %}#}
{#              </div>#}
{#              <hr>#}
{#            {% endfor %}#}
{#      </div>#}
{##}
{#      <div class="show-main-item-main">#}
{#        <h1 class="text-center mt-2">#}
{#          {{ showpage_first.specific.title }} - {{ showpage_first.specific.date|date:"Y" }}#}
{#        </h1>#}
        {#        {{ showpage_first.specific.intro }}#}
{#        <div class="text-center">#}
{#          {% video showpage_first.specific.video is_secure=True as my_video %}#}
{#          <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" src="{{ my_video.url }}" width="560" height="340" frameborder="0"></iframe>#}
{#            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='{{ my_video.url }}' frameborder='0' allowfullscreen></iframe></div>#}
{#          {% endvideo %}#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="show-main-item-info text-center">#}
{#        <div class="show-main-item-info-container">#}
{#          <div class="show-main-item-info-container-item">{{ showpage_first.specific.body|richtext }}</div>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{##}
{#  </div>#}
{% endblock %}
